.movieItem::before {
    content: "";
    background-image: url(../SVG/film.svg);
    background-size: cover;
    position: absolute;
    width: 25px;
    height: 25px;
    left: -20px;
    /* fill: #272727; */
}

.movieItem:hover,
.movieItem:focus {
    color:  rgb(35, 174, 255);
    cursor: pointer;
    transform: translateY(-7px);
    transition: transform .25s cubic-bezier(.4,0,.2,1);

}