.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #392c2c;
  }
  
  .navigation::before {
    content: '';
    background-image: url(./SVG/3D_Glasses_2_by_Merlin2525.svg);
    background-size: cover;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 100px;
  }