@import-normalize;
/* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #272727;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #f8f0f0;
  
  
}

img {
  display: block;
  width: 100%;
}


@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');
body  {
  background-image: url('https://img.tsn.ua/cached/893/tsn-84ee4f9844c21d3af2b3cfbad2c9c711/thumbs/1116x628/59/27/34356fb5eb5063234544b67804a62759.jpeg');
background-size:cover;
      -webkit-animation: slidein 200s;
      animation: slidein 200s;

      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;

      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;

      -webkit-animation-direction: alternate;
      animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}